@font-face {
    font-family: "Britanic";
    src:url("fonts/Britanic.TTF");
}

.clearfix {
    clear: both;
}

body {
    margin: 0px;
    font-family: "Britanic", sans-serif;
}
.barra_superior {
    border-bottom: 1px solid rgb(204, 204, 204); 
    color: rgb(187, 187, 187); 
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}
 .container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto; 
}

nav {
    color: rgb(187, 187, 187);
    font-size: 12px;
    float: right;
    margin-top: 50px
}
nav a {
    color: rgb(187, 187, 187);
    text-decoration: none;   
}
.btn_Destaque, .metade input[type=submit] {
    border: none;
    background-color: rgb(255, 77, 77);
    color: white;
    padding: 12px 40px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 12px;
    margin-left: 20px;
} 
.sec01 {
    height: 400px;
    color: black;
    background-image: url(../img/mulher.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.sec01 p .titulo {
    font-size: 25px;
    padding-top: 100px;
}
.sec01 p {
    font-size: 40px;
    padding-bottom: 30px;
    line-height: 125%;
}
.sec02 {
    border-bottom: 1px solid rgb(204, 204, 204);
}

.sec02 p {
    font-size: 25px;
    text-align: center;
}
.sec02 img {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.sec03 {
    background-color: rgb(239, 243, 249);
    height: 664px;
    background-image: url(../img/home2.png);
    background-position: right;
    background-repeat: no-repeat;
}
.sec03 p {
    font-size: 43px;
    line-height: 120%;
    color: rgb(102, 102, 102);
    padding-top: 100px;
    padding-bottom: 40px;
}
.largura40 {
    width: 42%;
    float: left;
    background-color: rgb(239, 243, 249);
    height: 670px;
}
.direitos_reservados {
    background-color: rgb(255, 77, 77); 
    color: white;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
}
.direitos_reservados a {
    color: white
}
.um_terco {
    width: 33%;
    float: left;
    padding-top: 40px;
    padding-bottom: 40px;
    
}
.um_terco, .um_terco a {
    color: rgb(136, 136, 136);
}
     

.um_terco .logo {
    width: 100%;
    
}
.um_terco img {
   width: 35px; 
}
.margem_esquerda {
    margin-left: 60px;

}
.sec_fale, .sec_onde { 
    height: 500px;
    background-color: #FAFAFA;
    
    
}
.sec_fale .metade {
    padding-top: 100px;

}
.metade {
    width: 50%;
    float: left;
    line-height: 150%;
    color: rgb(120, 120, 120);
}
.metade div, .metade address {
    margin-left: 20px;  
}
.metade form {
    line-height: 250%;
    

}
.metade form input[type=text], textarea {
    border: none;
    border-bottom: 1px solid lightgray;
    width: 63%;
    background-color: #FAFAFA;
    padding: 10px;
}
.metade textarea {
    min-height: 100px;
    
}
.metade input[type=submit] {
    float: right;
    
}
.metade img {
    width: 35px;

}

.metade label {
    width: 30%;
    display: inline-block;
    vertical-align: top;
  
}


@media screen and (max-width: 480px) {
.barra_superior .container {
    margin-left: 10px;
    
}
    .logo {
      width: 100%;   
    }
    nav {
        float: none;
        margin-left: 10px;
        text-align: center;
        font-size: 15px;
    
    }
      
    .sec01 p, .sec01, .btn_destaque {
       margin-left: 15px;
       background-image: none;
       font-size: 26px;
       padding-top: 45px;
        
}
    .sec03 {
      height: 450px;
      text-align: center;
      border-bottom: 1px solid rgb(204, 204, 204);
}
    .sec03 p {
       padding-top: 10px; 
      
       
}
    .sec03 .largura40 {
      padding-bottom: 30px; 
}
    .largura40 {
       width: 100%; 
       margin-left: 20px;
       height: 400px; 
    }
    
    .um_terco {
       width: 100%;
       border-bottom: 1px solid rgb(204, 204, 204);
       padding-left: 20px;
}
    .margem_esquerda {
       margin-left: 0px; 
}
    .um_terco .logo {
       width: 50%;
       
}
    .container_logo {
        text-align: center;
}

}




